<div class="card text-center">
    <h5 class="card-header">Oops, looks like there are no comments, why don't you write one</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="/" class="btn btn-primary">Write a comment</a>
            </div>
        </div>
    </div>
</div>