<div class="card text-center">
    <h5 class="card-header">Oops, looks like there are no comments, why don't you write one</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-backdrop="static" data-keyboard="false"
                    data-toggle="modal" data-target="#newCommentModal">
                    Write a comment
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLongTitle">Write a new Comment</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="commentTitle">Title: </label>
                        <input type="text" class="form-control" id="commentTitle" placeholder="My Opinion">
                    </div>
                    <div class="form-group">
                        <label for="commentBody">Comment: </label>
                        <textarea class="form-control" id="commentBody" rows="3" placeholder="My Comments"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary submitNewComment" postId={{post._id}}>Submit</button>
            </div>
        </div>
    </div>
</div>