<div class="card text-center">
    <h5 class="card-header">Oops, looks like there are no posts, why don't we scrape some</h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="/scrape" class="btn btn-primary">Scrape</a>
            </div>
        </div>
    </div>
</div>