<div class="card text-center">
    <h5 class="card-header">Oops, looks like there are no saved posts, why don't you browse for some and save them here
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>