<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mongo Scraper</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/javascript.js"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark mb-10">
        <a class="navbar-brand" href="/">Navbar</a>
    </nav>

    <div class="container">
        <div class="row text-center">
            <div class="container">
                <h1 class="display-4">Mongo Scraper</h1>
                <img class="img-responsive" style="width: 50px; height: 50px;" src="/assets/img/Reddit-icon.png">
                <p class="lead">Reddit Edition
                </p>
            </div>
        </div>
        {{{ body }}}
    </div>
</body>

</html>