<div class="row">
    {{#if posts}}
    {{#each posts}}
    <div class="col-12 mb-3">
        {{> savedPosts}}
    </div>
    {{/each}}
    {{else}}
    <div class="col-12 mb-3">
        {{> noSavedPost}}
    </div>
    {{/if}}
</div>